@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  header .nav-item-link {
    @apply block w-full text-center py-2 font-medium hover:bg-red-400 hover:text-white transition-all lg:hover:bg-[unset];
  }
  header .nav {
    @apply transition-all fixed top-0 w-[300px] max-w-[300px] h-screen overflow-y-auto z-50 bg-darker-yellow pt-10  lg:flex lg:justify-center lg:grow-[1] lg:w-[unset] lg:max-w-full lg:relative lg:h-[unset] lg:bg-transparent lg:pt-0 lg:!left-[unset];
  }
  footer .footer-menu li:not(:first-child) {
    @apply mt-2.5 lg:mt-[46px];
  }
  footer .footer-menu a {
    @apply hover:text-red-400;
  }
  .border-bottom-custom {
    @apply border-b-2 border-slate-900;
  }
  .hero-height {
    height: calc(100vh - 100px);
    max-height: 900px;
    min-height: 500px;
    overflow: hidden;
  }
}
